<a href="https://colab.research.google.com/github/rani-sikdar/30-days-of-python/blob/main/day2_variables_builtin_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Introduction

print(3 + 2)   # addition(+)
print(3 - 2)   # subtraction(-)
print(3 * 2)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

# Checking data types

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Asabeneh'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

5
1
6
1.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

In [36]:
# Variables in Python

first_name = 'Rani'
last_name = 'Sikdar'
country = 'India'
city = 'Gurgaon'
age = 25
is_married = False
skills = ['Python', 'Statistics', 'SQL', 'AI', 'NLP']
person_info = {
    'firstname':'Rani',
    'lastname':'Sikdar',
    'country':'India',
    'city':'Gurgaon'
    }

# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Rani', 'Sikdar', 'India', 25, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

First name: Rani
First name length: 4
Last name:  Sikdar
Last name length:  6
Country:  India
City:  Gurgaon
Age:  25
Married:  False
Skills:  ['Python', 'Statistics', 'SQL', 'AI', 'NLP']
Person information:  {'firstname': 'Rani', 'lastname': 'Sikdar', 'country': 'India', 'city': 'Gurgaon'}
Rani Sikdar India 25 False
First name: Rani
Last name:  Sikdar
Country:  India
Age:  25
Married:  False

In [37]:
# 1. Swap Two Variables Without Using a Third Variable
a= 5
b= 10

print('before swapping - ', a,b)

a,b = b,a
print('after swapping - ', a,b)

before swapping -  5 10
after swapping -  10 5

In [38]:
# 2. Calculate Simple Interest
P = 1000
R = 5
T = 2

SI = (P * R * T)/100

print("Simple Interest - ", SI)

Simple Interest -  100.0

In [39]:
# 3. Convert Celsius to Fahrenheit
C = 37
F = (C * 9/5) + 32

print("Farheneit - ", F)

Farheneit -  98.6

In [40]:
# 4. Compute Area and Circumference of a Circle
from math import pi
radius = 7
area = pi * radius * radius
circumference = 2 * pi * radius
print("Area - ", round(area,2))
print("circumference - ", round(circumference,2))

Area -  153.94
circumference -  43.98

In [41]:
# 5. Check Whether a Number is Even or Odd
n = 6
if (n % 2 == 0): result = 'Even'
else : result ='Odd'

print('Even or Odd ? ', result)

Even or Odd ?  Even

In [42]:
# 6. Calculate the Sum and Average of a List
numbers = [10, 20, 30, 40, 50]
sum =0
for i in numbers:
  sum += i

average = sum / len(numbers)
print("sum is - ", sum)
print("average is - ", int(average))

sum is -  150
average is -  30

In [43]:
# 7. Reverse a String Using Built-in Functions
s = "Python"
r = "".join(reversed(s))
print(r)
print("Reverse is - ", r)

nohtyP
Reverse is -  nohtyP

In [44]:
# 8. Count Number of Vowels in a String
sentence = "Hellou wOrldei"
sentence= sentence.lower()
vowel = ['a','e','i','o','u']
count=0

for s in sentence:
  if s in vowel: count += 1

print("number of vowels - ",count)

number of vowels -  6

In [45]:
# 9. Sort a List of Integers in Descending Order
nums = [3, 1, 4, 1, 5, 9, 2]
nums.sort()
nums.reverse()
print("List in desending order - ",nums)

List in desending order -  [9, 5, 4, 3, 2, 1, 1]

In [46]:
# 10. Find the Maximum and Minimum of Three Numbers
a, b, c = 10, 25, 17

max_value = max(a,b,c)
min_value = min(a,b,c)

print("Max:", max_value)
print("Min:", min_value)

Max: 25
Min: 10

In [47]:
# 11. Count the Frequency of Each Character in a String (Ignore Spaces)

sentence = "data science"
sentence = sentence.replace(" ", "").lower()

char_freq=dict()
# Loop through each character and count frequencies
for s in sentence:
  char_freq[s] = char_freq.get(s,0) + 1
  """
  char_freq.get(s, 0) tries to get the current count of character s from the dictionary.

  If s is already in the dictionary, it returns the existing count.

  If s is not yet in the dictionary, it returns 0 (the default value you provided).

  Then it adds 1 to this count.

  Finally, it assigns the new value back to char_freq[s], updating the dictionary.
  """

print(char_freq)

{'d': 1, 'a': 2, 't': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}