<a href="https://colab.research.google.com/github/rani-sikdar/30-days-of-python/blob/main/day6_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# syntax
empty_tuple = ()
# or using the tuple constructor
empty_tuple = tuple()

In [2]:
# syntax
tpl = ('item1', 'item2','item3')

In [3]:
fruits = ('banana', 'orange', 'mango', 'lemon')

In [4]:
# syntax
tpl = ('item1', 'item2', 'item3')
len(tpl)

3

In [5]:
# Syntax
tpl = ('item1', 'item2', 'item3')
first_item = tpl[0]
second_item = tpl[1]

In [7]:
fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[0]
second_fruit = fruits[1]
last_index =len(fruits) - 1
last_fruit = fruits[last_index]

In [8]:
last_fruit

'lemon'

In [9]:
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
first_item = tpl[-4]
second_item = tpl[-3]

In [10]:
fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[-4]
second_fruit = fruits[-3]
last_fruit = fruits[-1]

In [13]:
print(first_fruit)
print(second_fruit)
print(last_fruit)

banana
orange
lemon

In [11]:
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
all_items = tpl[0:4]         # all items
all_items = tpl[0:]         # all items
middle_two_items = tpl[1:3]  # does not include item at index 3

In [14]:
all_items

('item1', 'item2', 'item3', 'item4')

In [15]:
middle_two_items

('item2', 'item3')

In [16]:
fruits = ('banana', 'orange', 'mango', 'lemon')
all_fruits = fruits[0:4]    # all items
all_fruits= fruits[0:]      # all items
orange_mango = fruits[1:3]  # doesn't include item at index 3
orange_to_the_rest = fruits[1:]

In [17]:
orange_mango

('orange', 'mango')

In [18]:
orange_to_the_rest

('orange', 'mango', 'lemon')

In [19]:
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
all_items = tpl[-4:]         # all items
middle_two_items = tpl[-3:-1]  # does not include item at index 3 (-1)

In [20]:
all_items, middle_two_items

(('item1', 'item2', 'item3', 'item4'), ('item2', 'item3'))

In [22]:
fruits = ('banana', 'orange', 'mango', 'lemon')
all_fruits = fruits[-4:]    # all items
orange_mango = fruits[-3:-1]  # doesn't include item at index 3
orange_to_the_rest = fruits[-3:]

In [23]:
orange_mango

('orange', 'mango')

In [24]:
orange_to_the_rest

('orange', 'mango', 'lemon')

In [25]:
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
lst = list(tpl)

In [26]:
fruits = ('banana', 'orange', 'mango', 'lemon')
fruits = list(fruits)
fruits[0] = 'apple'
print(fruits)     # ['apple', 'orange', 'mango', 'lemon']
fruits = tuple(fruits)
print(fruits)     # ('apple', 'orange', 'mango', 'lemon')

['apple', 'orange', 'mango', 'lemon']
('apple', 'orange', 'mango', 'lemon')

In [27]:
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
'item2' in tpl # True

True

In [29]:
fruits = ('banana', 'orange', 'mango', 'lemon')
print('orange' in fruits) # True
print('apple' in fruits) # False
# fruits[0] = 'apple' # TypeError: 'tuple' object does not support item assignment

True
False

In [30]:
# syntax
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5','item6')
tpl3 = tpl1 + tpl2

In [31]:
fruits = ('banana', 'orange', 'mango', 'lemon')
vegetables = ('Tomato', 'Potato', 'Cabbage','Onion', 'Carrot')
fruits_and_vegetables = fruits + vegetables

In [33]:
fruits_and_vegetables

('banana',
 'orange',
 'mango',
 'lemon',
 'Tomato',
 'Potato',
 'Cabbage',
 'Onion',
 'Carrot')

In [34]:
# syntax
tpl1 = ('item1', 'item2', 'item3')
del tpl1

In [35]:
fruits = ('banana', 'orange', 'mango', 'lemon')
del fruits