<a href="https://colab.research.google.com/github/rani-sikdar/30-days-of-python/blob/main/day7_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# syntax
st = set()

In [2]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}

In [3]:
# syntax
fruits = {'banana', 'orange', 'mango', 'lemon'}

In [4]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
len(st)

4

In [5]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
len(fruits)

4

In [6]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
print('mango' in fruits ) # True

True

In [7]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.add('lime')

In [8]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
st.update(['item5','item6','item7'])

In [9]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes a random item from the set

'banana'

In [10]:
fruits

{'lemon', 'mango', 'orange'}

In [11]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
removed_item = fruits.pop()

In [12]:
removed_item

'banana'

In [13]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.clear()
print(fruits) # set()

set()

In [14]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
del fruits

In [15]:
fruits

NameError: name 'fruits' is not defined

In [16]:
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']
fruits = set(fruits) # {'mango', 'lemon', 'banana', 'orange'}

In [17]:
fruits

{'banana', 'lemon', 'mango', 'orange'}

In [18]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables)) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'banana', 'orange', 'tomato', 'onion', 'potato', 'carrot', 'cabbage', 'mango', 'lemon'}

In [20]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
print(fruits) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'banana', 'orange', 'tomato', 'onion', 'potato', 'carrot', 'cabbage', 'mango', 'lemon'}

In [21]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers) # {0, 2, 4, 6, 8, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.intersection(dragon)     # {'o', 'n'}

{'n', 'o'}

In [22]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.issubset(even_numbers) # False, because it is a super set
whole_numbers.issuperset(even_numbers) # True

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.issubset(dragon)     # False

False

In [23]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.difference(even_numbers) # {1, 3, 5, 7, 9}

python = {'p', 'y', 't', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.difference(dragon)     # {'p', 'y', 't'}  - the result is unordered (characteristic of sets)
dragon.difference(python)     # {'d', 'r', 'a', 'g'}

{'a', 'd', 'g', 'r'}

In [24]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
some_numbers = {1, 2, 3, 4, 5}
whole_numbers.symmetric_difference(some_numbers) # {0, 6, 7, 8, 9, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.symmetric_difference(dragon)  # {'r', 't', 'p', 'y', 'g', 'a', 'd', 'h'}

{'a', 'd', 'g', 'h', 'p', 'r', 't', 'y'}

In [25]:
even_numbers = {0, 2, 4 ,6, 8}
odd_numbers = {1, 3, 5, 7, 9}
even_numbers.isdisjoint(odd_numbers) # True, because no common item

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.isdisjoint(dragon)  # False, there are common items {'o', 'n'}

False