<a href="https://colab.research.google.com/github/rani-sikdar/30-days-of-python/blob/main/pydsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear
- Array
- Linked list
- Stack
- Queue
- Matrix

Non-Linear
- Binary Tree
- Heap
- Hash Table
- Graph
Python Specific Data Structures
- List
- Tuple
- Dictionary

## Array
Basic operations:
1. Traverse
2. Insertion
3. Deletion
4. Search
5. Update

In [2]:
from array import *

In [4]:
# traverse

arr = array('i',[10,20,30,40,50])

for a in arr:
  print(a)

10
20
30
40
50

In [5]:
print(arr[0])

10

In [8]:
print(arr[3])

40

In [9]:
print(len(arr))

5

In [10]:
# insert

arr.insert(2,60)
print(arr)

array('i', [10, 20, 60, 30, 40, 50])

In [11]:
arr

array('i', [10, 20, 60, 30, 40, 50])

In [13]:
# delete

if 40 in arr:
  print('yes')
  arr.remove(40)
  print('deletion done')

yes
deletion done

In [14]:
arr

array('i', [10, 20, 60, 30, 50])

In [15]:
# search operation --> index() returns index

arr.index(50)

4

In [16]:
arr.index(100)

ValueError: array.index(x): x not in array

In [18]:
# update

print(arr)

arr[3]=80

print(arr)

array('i', [10, 20, 60, 30, 50])
array('i', [10, 20, 60, 80, 50])

## List
Basic Operations
- Traverse
- Access
- Update
- Delete
- Length, Concatenation, Repetition, Membership. Iteration

In [1]:
# traverse

list1 = ['rani','sikdar',19,'june',1998]

for x in list1:
  print(x)

rani
sikdar
19
june
1998

In [5]:
# access

print(list1[2])
print(list1[4])
print(list1[:3])
print(list1[:])

19
1998
['rani', 'sikdar', 19]
['rani', 'sikdar', 19, 'june', 1998]

In [6]:
# update

print("before updating list-")
print(list1)

print("after updating list-")
list1[3]='april'
print(list1)

before updating list-
['rani', 'sikdar', 19, 'june', 1998]
after updating list-
['rani', 'sikdar', 19, 'april', 1998]

In [7]:
# delete

print("before deleting list-")
print(list1)

print("after deleting list-")
del list1[2]

print(list1)

before deleting list-
['rani', 'sikdar', 19, 'april', 1998]
after deleting list-
['rani', 'sikdar', 'april', 1998]

In [8]:
# length
print(len(list1))

4

In [9]:
# concatenation

list1=[1,2,3,4]
list2=[5,6,7,8]

final_list= list1 + list2

print(final_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
# repetition

list3 = ['hello', "world"]

print(list3*3)

['hello', 'world', 'hello', 'world', 'hello', 'world']

In [12]:
# membership

'hello' in list3

True

In [13]:
'hello' not in list3

False

In [14]:
# iteration

for x in final_list:
  print(x)

1
2
3
4
5
6
7
8

## Tuple
Basic Operations
- Traverse
- Access
- Update
- Delete
- Length, Concatenation, Repetition, Membership. Iteration

In [27]:
# initiation

t1 = ()  # empty tuple
print(t1)

t2 = (20,)  # tuple with one element
print(t2)

()
(20,)

In [28]:
# traverse

t3= ('rani','sikdar',19,'june',1998)

for x in t3:
  print(x)

rani
sikdar
19
june
1998

In [29]:
# access

print(t3[2])
print(t3[4])
print(t3[:3])
print(t3[:])

19
1998
('rani', 'sikdar', 19)
('rani', 'sikdar', 19, 'june', 1998)

In [30]:
# update
"""

Tuples are immutable, which means you cannot update or change the values of tuple elements.
You are able to take portions of existing tuples, to create new tuples

"""
tup1 = (12, 34, 56)
tup2 = ('abc', 'xyz')

tup1[0]=100

TypeError: 'tuple' object does not support item assignment

In [31]:
tup3 = tup1 + tup2
print(tup3)

(12, 34, 56, 'abc', 'xyz')

In [32]:
# delete

# Removing individual tuple elements is not possible.

print('before deleting')
print(tup1)

del tup1

print('after deleting')
print(tup1)

before deleting
(12, 34, 56)
after deleting

NameError: name 'tup1' is not defined

In [34]:
# length
len(tup2)

2

In [36]:
# concatenation

(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [38]:
# repetition

('hello world',) * 4

('hello world', 'hello world', 'hello world', 'hello world')

In [44]:
# membership

print(tup2)

'abc' in tup2

('abc', 'xyz')

True

In [47]:
# iteration

for x in tup2:
  print(x)

abc
xyz