<a href="https://colab.research.google.com/github/rani-sikdar/30-days-of-python/blob/main/python_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

In [2]:
# *
# * *
# * * *
# * * * *
# * * * * *

n=5
for i in range (1, n+1):
  print('*' * i)

*
**
***
****
*****

In [3]:
# * * * * *
# * * * *
# * * *
# * *
# *

n=5
for i in range(n,0,-1):
  print('*'* i)

*****
****
***
**
*

In [4]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

n=5
for i in range(1, n+1):
  print("  " * (n - i) + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
#       *
#     * * *
#   * * * * *
# * * * * * * *

n=5
for i in range(1, n+1):
  print("  " * (n - i) + "* " * (2*i - 1))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [6]:
  #     *
  #   * * *
  # * * * * *
  #   * * *
  #     *

n = 4
for i in range(1, n+1):
    print("  " * (n - i) + "* " * (2*i - 1))
for i in range(n-1, 0, -1):
    print("  " * (n - i) + "* " * (2*i - 1))

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [7]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

n=5
for i in range (1, n+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15

n = 5
num = 1
for i in range(1, n+1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [9]:
#      1
#     1 2
#    1 2 3
#   1 2 3 4
#  1 2 3 4 5

n=5
for i in range(1, n+1):
    print(" " * (n - i), end="")
    for j in range(1, i+1):
        print(j, end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [10]:
# 1
# 0 1
# 1 0 1
# 0 1 0 1
# 1 0 1 0 1

n=5
for i in range(1, n+1):
    for j in range(i):
        print((i + j) % 2, end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [11]:
  # pascal traingle
  #      1
  #     1 1
  #    1 2 1
  #   1 3 3 1
  #  1 4 6 4 1

def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

n = 5
for i in range(n):
    print(" " * (n - i), end="")
    for j in range(i + 1):
        print(factorial(i) // (factorial(j) * factorial(i - j)), end=" ")
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [12]:
# Butterfly pattern
# *       *
# * *     * *
# * * *   * * *
# * * * * * * *
# * * * * * * *
# * * *   * * *
# * *     * *
# *       *

n = 5
for i in range(1, n+1):
    print("* " * i + "  " * (2*(n-i)) + "* " * i)
for i in range(n, 0, -1):
    print("* " * i + "  " * (2*(n-i)) + "* " * i)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [13]:
print(5)
print(5)

5
5